.container {
  border: 1px solid black;
  padding: 1em;
  font-size: 1.3em;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  .font-button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 1.2em;
  }

  .saveSubmit {
    margin-top: 0.7em;
  }
}

.theme-changer {
  background: black;
  color: white;

  .header {
    color: purple;
  }

  .font-button {
    color: #ffa500;
    background-color: black;
    border: none;
  }

  .saveSubmit {

    .save {
      background-color: purple;
    }

    .submit {
      background-color: cyan;
    }
  }
}
