.container {
  border: 1px solid black;
  padding: 1em;
  font-size: 1.3em;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    cursor: pointer;
  }

  .saveSubmit {
    margin-top: 0.7em;
  }
}

.theme-changer {
  background: black;
  color: white;

  .header {
    color: purple;
  }
}
